* {
    font-family: 'Press Start 2P', cursive;
}

.grid {
    display: grid;
    grid-template-columns: 640px 200px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid 1px green;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

.center {
    margin: auto;
    width: 50%; /* must be the same as canvas size */
    /*border: 3px solid green; /*delete in production*/
    padding: 10px;
}